ANTHROPIC_API_KEY=sk-ant-...

FINERACT_BASE_URL=https://localhost:8443
FINERACT_TENANT=default
FINERACT_USER=mifos
FINERACT_PASSWORD=password
FINERACT_LIMITED_USER=teller_readonly
FINERACT_LIMITED_PASSWORD=Northridge


WEB_APP_URL=http://localhost:4200
